@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Grotesk:wght@400;500&display=swap');

html {
  height: 100%;
  position: relative;
  background-color: #ffffff;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  background-color: #ffffff;
}